html
  position: relative
  min-height: 100%

body
  margin-bottom: $footer-height
  &>.container
    padding: $body-container-top-padding $container-lr-padding 0

.main-header-text
  color: $header-color