import Express from 'express';
import morgan from 'morgan';
import bodyParser from 'body-parser';
import methodOverride from 'method-override';
import path from 'path';
// import container from './container';

import NotFoundError from './errors/NotFoundError';
import Post from './entities/Post';

export default () => {
  const app = new Express();
  app.use(morgan('combined'));
  app.set('view engine', 'pug');
  app.use('/assets', Express.static(path.join(__dirname, 'dist')));
  app.use(methodOverride('_method'));
  app.use(bodyParser.urlencoded({ extended: false }));

  let posts = [
    new Post('hello', 'how are your?'),
    new Post('nodejs', 'story about nodejs'),
  ];

  app.get('/', (req, res) => {
    res.render('index');
  });

  app.get('/posts', (req, res) => {
    res.render('posts/index', { posts });
  });

  app.get('/posts/new', (req, res) => {
    res.render('posts/new', { form: {}, errors: {} });
  });

  app.get('/posts/:id', (req, res, next) => {
    const post = posts.find(p => p.id.toString() === req.params.id);
    if (post) {
      res.render('posts/show', { post });
    } else {
      next(new NotFoundError());
    }
  });

  app.post('/posts', (req, res) => {
    const { title, body } = req.body;

    const errors = {};
    if (!title) {
      errors.title = "Title can't be blank";
    }

    if (!body) {
      errors.body = "Body can't be blank";
    }

    if (Object.keys(errors).length === 0) {
      const post = new Post(title, body);
      posts.push(post);
      res.redirect(`/posts/${post.id}/edit`);
      return;
    }

    res.status(422);
    res.render('posts/new', { form: req.body, errors });
  });

  app.get('/posts/:id/edit', (req, res, next) => {
    const post = posts.find(p => p.id.toString() === req.params.id);
    if (post) {
      res.render('posts/edit', { post, form: post, errors: {} });
    } else {
      next(new NotFoundError());
    }
  });

  app.patch('/posts/:id', (req, res, next) => {
    const { title, body } = req.body;
    const index = posts.findIndex(p => p.id.toString() === req.params.id);
    if (index === -1) {
      next(new NotFoundError());
    }
    const post = posts[index];

    const errors = {};
    if (!title) {
      errors.title = "Title can't be blank";
    }
    if (!body) {
      errors.body = "Body can't be blank";
    }

    if (Object.keys(errors).length === 0) {
      posts[index] = { ...post, title, body };
      res.redirect(`/posts/${post.id}`);
      return;
    }

    res.status(422);
    res.render('posts/edit', { post, form: { title, body }, errors });
  });

  app.delete('/posts/:id', (req, res) => {
    posts = posts.filter(post => post.id.toString() !== req.params.id);
    res.redirect('/posts');
  });

  app.use((req, res, next) => {
    next(new NotFoundError());
  });

  app.use((err, req, res, next) => { // eslint-disable-line
    res.status(err.status);
    switch (err.status) {
      case 404:
        res.render(err.status.toString());
        break;
      default:
        throw new Error('Unexpected error');
    }
  });

  return app;
};
