
doctype html
html(lang="ru")
  head
    title= Title
    link(rel='stylesheet' href='/assets/css/main.css')
    script(src='/assets/js/main.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded
      a.navbar-brand(href="/") Task Manager
    .container
      block content
