extends ../layouts/application.pug
include ../mixins/pagination.pug

block content
  table.table.table-stripped
    thead
      tr
        th Full Name
        th Email
        th Created at
    tbody
      each user in users
        tr
          td
            a(href=urlFor('user', user.id))= user.fullName
          td= user.email
          td= user.created
  +pagination({ items: navPages, route: 'users' })