extends ../layouts/application.pug

block content
  +formFor(f, { url: urlFor('patchUserPassword', f.object.id), method: 'PATCH' dataConfirm: 'Are you sure you want change password'})
    +input(f, 'currentPassword', { as: 'password' })
    +input(f, 'password', { as: 'password' })
    +input(f, 'confirmPassword', { as: 'password' })
    a.btn.btn-info.mr-2(href=urlFor('user', f.object.id) data-toggle="tooltip" data-placement="bottom" title="Back") 
      i.fas.fa-undo-alt
      span.d-none.d-md-inline &nbsp Back 
    button.btn.btn-success(type='submit' data-toggle="tooltip" data-placement="bottom" title="Change password")
      span.d-none.d-md-inline Change &nbsp
      i.fas.fa-arrow-right