extends ../layouts/application.pug

block content
  +formFor(f, { url: urlFor('patchUserPassword', f.object.id), method: 'PATCH' })
    +input(f, 'currentPassword', { as: 'password' })
    +input(f, 'password', { as: 'password' })
    +input(f, 'confirmPassword', { as: 'password' })
    button.btn.btn-success(type='submit' data-toggle='tooltip' data-placement='bottom' title='Change password')
      | Change &nbsp
      i.fas.fa-check